@use './variables/colors';

.adminHeader {
    text-align: center;
    margin: 2.5em 0;
}

.adminContainer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;

    .icon {
        font-size: 10em;
        color: colors.$primary-background-color;
        :hover{
            cursor: pointer;
        }
    }

    

    .textField {
        margin: 5px;
    }
    .primaryButton {
        background-color: colors.$primary-background-color;
        color: white;
        width: 150px;
        margin: auto;
        font-weight: 600;
        font-size: 15px;
        border-radius: 25px;
        padding: .5em;
    }
}

.adminInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-bottom: 2em;
    border: .5em solid colors.$primary-background-color;
    border-radius: 25px;
    padding: 3.5em;
    .containerHeader {
        text-align: center;
    }
    .primaryButton {
        background-color: colors.$primary-background-color;
        color: white;
        width: 150px;
        margin: auto;
        font-weight: 600;
        font-size: 15px;
        border: none;
        border-radius: 25px;
        padding: .5em;
    }
    .secondaryButton {
        background-color: colors.$update-background-color;
        color: white;
        width: 150px;
        margin: auto;
        font-weight: 600;
        font-size: 15px;
        border: none;
        border-radius: 25px;
        padding: .5em;
    }
    .tertiaryButton {
        background-color: colors.$confirm-background-color;
        color: white;
        width: 150px;
        margin: auto;
        font-weight: 600;
        font-size: 15px;
        border: none;
        border-radius: 25px;
        padding: .5em;
    }
    .buttonGroup {
        display: flex;
        justify-content: center;
        margin: 2em;
        .primaryButton {
            background-color: colors.$primary-background-color;
            color: white;
            width: 150px;
            margin: auto;
            font-weight: 600;
            font-size: 15px;
            border: none;
            border-radius: 25px;
            padding: .5em;
        }
        .secondaryButton {
            background-color: colors.$update-background-color;
            color: white;
            width: 150px;
            margin: auto;
            font-weight: 600;
            font-size: 15px;
            border: none;
            border-radius: 25px;
            padding: .5em;
        }
        .tertiaryButton {
            background-color: colors.$confirm-background-color;
            color: white;
            width: 150px;
            margin: auto;
            font-weight: 600;
            font-size: 15px;
            border: none;
            border-radius: 25px;
            padding: .5em;
        }
    }
}