@use './variables/colors';

.adminHeader {
    text-align: center;
    margin: 2.5em 0;
    @media (max-width: 600px){
        font-size: 35px;
    }
}

.adminContainer {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    @media (max-width: 600px){
        padding: 15px;
    }

    .icon {
        font-size: 10em;
        color: colors.$primary-background-color;
        @media (max-width: 600px){
            font-size: 5em;
        }
        :hover{
            cursor: pointer;
        }

    }

    

    .textField {
        margin: 5px;
    }
    .primaryButton {
        background-color: colors.$primary-background-color;
        color: white;
        width: 150px;
        margin: auto;
        font-weight: 600;
        font-size: 15px;
        border-radius: 25px;
        padding: .5em;
    }
}

.adminInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
    border: .5em solid colors.$primary-background-color;
    border-radius: 25px;
    padding: 10px;
    @media (max-width: 600px){
        padding: 10px;
    }
    .containerHeader {
        text-align: center;
        @media (max-width: 600px){
            font-size: 20px;
            padding: 10px;
        }
    }
    .buttonGroup {
        display: flex;
        justify-content: center;
        margin: 2em;
        .primaryButton {
            background-color: colors.$primary-background-color;
            color: white;
            width: 150px;
            margin: auto;
            font-weight: 600;
            font-size: 15px;
            border: none;
            border-radius: 25px;
            padding: .5em;
            @media (max-width: 600px){
                width: 33%;
                margin-bottom: 1em;
                font-size: 10px;
            }
        }
        .secondaryButton {
            background-color: colors.$update-background-color;
            color: white;
            width: 150px;
            margin: auto;
            font-weight: 600;
            font-size: 15px;
            border: none;
            border-radius: 25px;
            padding: .5em;
            @media (max-width: 600px){
                width: 33%;
                margin-bottom: 1em;
                font-size: 10px;
            }
        }
        .tertiaryButton {
            background-color: colors.$confirm-background-color;
            color: white;
            width: 150px;
            margin: auto;
            font-weight: 600;
            font-size: 15px;
            border: none;
            border-radius: 25px;
            padding: .5em;
            @media (max-width: 600px){
                width: 33%;
                margin-bottom: 1em;
                font-size: 10px;
            }
        }
    }
    .closeButton {
        background-color: colors.$confirm-background-color;
        color: white;
        width: 150px;
        margin: auto;
        font-weight: 600;
        font-size: 15px;
        border: none;
        border-radius: 25px;
        padding: .5em;
        @media (max-width: 600px){
            width: 33%;
            margin-bottom: 1em;
            font-size: 10px;
        }
    }
}