@use './variables/colors';

.cfmContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    .form {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;
        @media (max-width: 600px){
            width: 90%;
            margin-bottom: 1em;
        }
        .textField{
            width: 80%;
            margin: 5px auto;
        }
        .primaryButton {
            background-color: colors.$primary-background-color;
            color: white;
            width: 40%;
            margin: 1em auto;
            font-weight: 600;
            font-size: 15px;
            border: none;
            border-radius: 25px;
            padding: .5em;
            @media (max-width: 600px){
                width: 60%;
                margin-bottom: 1em;
            }
        }
    }
    .messageBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        margin: auto;
        @media (max-width: 600px){
            width: 80%;
            margin-bottom: 1em;
        }
        .messageHeader{
            width: 80%;
            margin: 1.5em auto;
            text-align: center;
            @media (max-width: 600px){
                width: 100%;
                margin: 2em 0;
            }
        }
        .messageBody{
            width: 80%;
            margin: 1em auto;
            @media (max-width: 600px){
                width: 100%;
                margin: 2em 0;
            }
        }
        .secondaryButton {
            background-color: colors.$update-background-color;
            color: white;
            width: 40%;
            margin: auto;
            font-weight: 600;
            font-size: 15px;
            border: none;
            border-radius: 25px;
            padding: .5em;
            @media (max-width: 600px){
                width: 60%;
                margin-bottom: 1em;
            }
        }
    }
}