.headerText {
    text-align: center;
    margin: .75em 0;
    letter-spacing: 0.1em;
    @media (max-width: 600px){
        font-size: 1.5em;
    }
}

.headerBody {
    text-align: center;
    margin: .75em 0;
    letter-spacing: 0.1em;
    @media (max-width: 600px){
        margin: 2.5em 0;
        font-size: 1em;
    }
}