@use './variables/colors';

.signInContainer {
    padding: 1.25em;
    margin: auto;
    display: flex;
    flex-direction: column;
    .message {
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        margin: 2em;
        color: red;
        font-weight: 700;
        @media (max-width: 600px){
            font-size: 12px;
        }
    }
    .signInForm{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        .textField {
            min-width: 50%;
            margin: .75em auto;
        }
        .primaryButton {
            background-color: colors.$primary-background-color;
            color: white;
            min-width: 10em;
            margin: auto;
            font-weight: 600;
            font-size: 15px;
            border-radius: 25px;
            padding: .5em;
        }
    }
    .textNotInForm{
        margin: 5px;
        text-align: center;
    }
    .linkText{
        text-decoration: none;
        color: black;
    }
}