@use './variables/colors';

.cardButton {
    background-color: colors.$primary-background-color;
    color: white;
    width: 150px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 25px;
    padding: .5em;
}

.cardDeleteButton {
    background-color: colors.$delete-background-color;
    color: white;
    width: 150px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 25px;
    padding: .5em;
}

.cardUpdateButton {
    background-color: colors.$update-background-color;
    color: white;
    width: 150px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 25px;
    padding: .5em;
}