.cfmContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}
.cfmContainer .form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
@media (max-width: 600px) {
  .cfmContainer .form {
    width: 90%;
    margin-bottom: 1em;
  }
}
.cfmContainer .form .textField {
  width: 80%;
  margin: 5px auto;
}
.cfmContainer .form .primaryButton {
  background-color: rgb(0, 209, 255);
  color: white;
  width: 40%;
  margin: 1em auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .cfmContainer .form .primaryButton {
    width: 60%;
    margin-bottom: 1em;
  }
}
.cfmContainer .messageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto;
}
@media (max-width: 600px) {
  .cfmContainer .messageBox {
    width: 80%;
    margin-bottom: 1em;
  }
}
.cfmContainer .messageBox .messageHeader {
  width: 80%;
  margin: 1.5em auto;
  text-align: center;
}
@media (max-width: 600px) {
  .cfmContainer .messageBox .messageHeader {
    width: 100%;
    margin: 2em 0;
  }
}
.cfmContainer .messageBox .messageBody {
  width: 80%;
  margin: 1em auto;
}
@media (max-width: 600px) {
  .cfmContainer .messageBox .messageBody {
    width: 100%;
    margin: 2em 0;
  }
}
.cfmContainer .messageBox .secondaryButton {
  background-color: rgb(0, 160, 255);
  color: white;
  width: 40%;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .cfmContainer .messageBox .secondaryButton {
    width: 60%;
    margin-bottom: 1em;
  }
}

.productForm {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin: auto;
}
@media (max-width: 600px) {
  .productForm {
    width: 80%;
    margin-bottom: 1em;
  }
}
.productForm .textField {
  margin: 5px;
}
@media (max-width: 600px) {
  .productForm .textField {
    width: 100%;
    margin-bottom: 1em;
  }
}
.productForm .primaryButton {
  background-color: rgb(0, 209, 255);
  color: white;
  width: 40%;
  margin: 1em auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .productForm .primaryButton {
    width: 60%;
    margin-bottom: 1em;
  }
}

.adminHeader {
  text-align: center;
  margin: 2.5em 0;
}
@media (max-width: 600px) {
  .adminHeader {
    font-size: 35px;
  }
}

.adminContainer {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}
@media (max-width: 600px) {
  .adminContainer {
    padding: 15px;
  }
}
.adminContainer .icon {
  font-size: 10em;
  color: rgb(0, 209, 255);
}
@media (max-width: 600px) {
  .adminContainer .icon {
    font-size: 5em;
  }
}
.adminContainer .icon :hover {
  cursor: pointer;
}
.adminContainer .textField {
  margin: 5px;
}
.adminContainer .primaryButton {
  background-color: rgb(0, 209, 255);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border-radius: 25px;
  padding: 0.5em;
}

.adminInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
  border: 0.5em solid rgb(0, 209, 255);
  border-radius: 25px;
  padding: 10px;
}
@media (max-width: 600px) {
  .adminInnerContainer {
    padding: 10px;
  }
}
.adminInnerContainer .containerHeader {
  text-align: center;
}
@media (max-width: 600px) {
  .adminInnerContainer .containerHeader {
    font-size: 20px;
    padding: 10px;
  }
}
.adminInnerContainer .buttonGroup {
  display: flex;
  justify-content: center;
  margin: 2em;
}
.adminInnerContainer .buttonGroup .primaryButton {
  background-color: rgb(0, 209, 255);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .adminInnerContainer .buttonGroup .primaryButton {
    width: 33%;
    margin-bottom: 1em;
    font-size: 10px;
  }
}
.adminInnerContainer .buttonGroup .secondaryButton {
  background-color: rgb(0, 160, 255);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .adminInnerContainer .buttonGroup .secondaryButton {
    width: 33%;
    margin-bottom: 1em;
    font-size: 10px;
  }
}
.adminInnerContainer .buttonGroup .tertiaryButton {
  background-color: rgb(85, 200, 85);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .adminInnerContainer .buttonGroup .tertiaryButton {
    width: 33%;
    margin-bottom: 1em;
    font-size: 10px;
  }
}
.adminInnerContainer .closeButton {
  background-color: rgb(85, 200, 85);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .adminInnerContainer .closeButton {
    width: 33%;
    margin-bottom: 1em;
    font-size: 10px;
  }
}

.headerText {
  text-align: center;
  margin: 0.75em 0;
  letter-spacing: 0.1em;
}
@media (max-width: 600px) {
  .headerText {
    font-size: 1.5em;
  }
}

.headerBody {
  text-align: center;
  margin: 0.75em 0;
  letter-spacing: 0.1em;
}
@media (max-width: 600px) {
  .headerBody {
    margin: 2.5em 0;
    font-size: 1em;
  }
}

.potmContainer {
  width: 80%;
  margin: 2em auto;
  border: 2px solid rgb(0, 209, 255);
  border-radius: 25px;
  box-shadow: 0px 0px 15px 0px rgba(0, 209, 255, 0.5);
  padding: 2em;
}
@media (max-width: 600px) {
  .potmContainer {
    padding: 0.25em;
  }
}
.potmContainer .potmBox {
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  .potmContainer .potmBox {
    flex-direction: column;
  }
}
.potmContainer .potmBox .potmImage {
  width: 40%;
  height: auto;
  border-radius: 25px;
  margin: 2.5em auto;
}
@media (max-width: 600px) {
  .potmContainer .potmBox .potmImage {
    width: 75%;
  }
}
.potmContainer .potmBox .potmBoxOne {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
}
@media (max-width: 600px) {
  .potmContainer .potmBox .potmBoxOne {
    padding: 1.5em;
  }
}
.potmContainer .potmBox .potmBoxOne .potmBoxTwo {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .potmContainer .potmBox .potmBoxOne .potmBoxTwo {
    flex-direction: column;
  }
}
.potmContainer .potmBox .potmBoxOne .potmBoxTwo .potmTextFieldTwo {
  font-size: 1.2em;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .potmContainer .potmBox .potmBoxOne .potmBoxTwo .potmTextFieldTwo {
    font-size: 1em;
    margin: 0.25em 0;
  }
}
.potmContainer .potmBox .potmBoxOne .potmBoxThree {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.potmContainer .potmBox .potmBoxOne .potmBoxThree .potmTextFieldThree {
  font-size: 1em;
  width: 100%;
  margin: 1em 0;
  font-weight: 600;
}
@media (max-width: 600px) {
  .potmContainer .potmBox .potmBoxOne .potmBoxThree .potmTextFieldThree {
    flex-wrap: wrap;
    width: 80%;
  }
}
.potmContainer .potmBox .potmBoxOne .potmBoxThree .potmBoxFour {
  width: 80%;
  display: flex;
}
@media (max-width: 600px) {
  .potmContainer .potmBox .potmBoxOne .potmBoxThree .potmBoxFour {
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
  }
}
.potmContainer .potmBox .potmBoxOne .potmBoxThree .potmBoxFour .potmPrimaryButton {
  background-color: rgb(0, 209, 255);
  color: white;
  min-width: 10px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 15px;
  border-radius: 25px;
  padding: 0.75em;
}
@media (max-width: 600px) {
  .potmContainer .potmBox .potmBoxOne .potmBoxThree .potmBoxFour .potmPrimaryButton {
    font-size: 10px;
    width: 45%;
    margin: 0 auto;
  }
}
.potmContainer .potmBox .potmBoxOne .potmBoxThree .potmBoxFour .potmSecondaryButton {
  background-color: rgb(255, 50, 50);
  color: white;
  min-width: 10px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.75em;
}
@media (max-width: 600px) {
  .potmContainer .potmBox .potmBoxOne .potmBoxThree .potmBoxFour .potmSecondaryButton {
    font-size: 10px;
    width: 45%;
    margin: 0 auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form .textField {
  width: 40%;
  margin: auto;
  margin-bottom: 0.75em;
}
@media (max-width: 600px) {
  .form .textField {
    width: 75%;
  }
}

.productsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding-top: 5em;
  text-align: center;
}
@media (max-width: 600px) {
  .productsContainer {
    width: 100%;
    flex-direction: column;
  }
}
.productsContainer .searchButton {
  background-color: rgb(0, 160, 255);
  color: white;
  width: 25%;
  margin: auto;
  margin-bottom: 2em;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.75em;
}
@media (max-width: 600px) {
  .productsContainer .searchButton {
    width: 50%;
    flex-direction: column;
  }
}
.productsContainer .productCard {
  min-height: 8em;
  width: 30%;
  margin: 1em auto;
}
@media (max-width: 600px) {
  .productsContainer .productCard {
    width: 100%;
  }
}
.productsContainer .productCard .primaryCardButton {
  background-color: rgb(0, 209, 255);
  color: white;
  width: 150px;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.75em;
}
@media (max-width: 600px) {
  .productsContainer .productCard .primaryCardButton {
    width: 120px;
    font-size: 12px;
    padding: 1em;
  }
}

.adminButtonsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5em;
}
.adminButtonsBox .adminButtons {
  display: flex;
}
@media (max-width: 600px) {
  .adminButtonsBox .adminButtons {
    flex-direction: column;
  }
}
.adminButtonsBox .adminButtons .updateButton {
  background-color: rgb(0, 160, 255);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .adminButtonsBox .adminButtons .updateButton {
    width: 50%;
    margin-bottom: 1em;
  }
}
.adminButtonsBox .adminButtons .hideDeleteButton {
  background-color: rgb(255, 162, 0);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .adminButtonsBox .adminButtons .hideDeleteButton {
    width: 50%;
    margin-bottom: 1em;
  }
}
.adminButtonsBox .adminButtons .potmButton {
  background-color: rgb(85, 200, 85);
  color: white;
  width: 240px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .adminButtonsBox .adminButtons .potmButton {
    width: 50%;
    font-size: 12px;
    padding: 1em;
    margin-bottom: 1em;
  }
}
.adminButtonsBox .adminButtons .cardDeleteButton {
  background-color: rgb(255, 50, 50);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .adminButtonsBox .adminButtons .cardDeleteButton {
    width: 50%;
    margin-bottom: 1em;
  }
}
.adminButtonsBox .adminButtons .doneButton {
  background-color: rgb(255, 162, 0);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .adminButtonsBox .adminButtons .doneButton {
    width: 50%;
    margin-bottom: 1em;
  }
}

.primaryButton {
  background-color: rgb(0, 209, 255);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .primaryButton {
    width: 33%;
    margin-bottom: 1em;
  }
}

.secondaryButton {
  background-color: rgb(0, 160, 255);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .secondaryButton {
    width: 33%;
    margin-bottom: 1em;
  }
}

.productImages {
  width: 20em;
  border-radius: 25px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.signInContainer {
  padding: 1.25em;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.signInContainer .message {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 2em;
  color: red;
  font-weight: 700;
}
@media (max-width: 600px) {
  .signInContainer .message {
    font-size: 12px;
  }
}
.signInContainer .signInForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.signInContainer .signInForm .textField {
  min-width: 50%;
  margin: 0.75em auto;
}
.signInContainer .signInForm .primaryButton {
  background-color: rgb(0, 209, 255);
  color: white;
  min-width: 10em;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border-radius: 25px;
  padding: 0.5em;
}
.signInContainer .textNotInForm {
  margin: 5px;
  text-align: center;
}
.signInContainer .linkText {
  text-decoration: none;
  color: black;
}

.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userContainer .buttonBox {
  width: 40%;
  margin: 2em auto;
  display: flex;
  justify-content: space-around;
}
.userContainer .primaryButton {
  background-color: rgb(0, 209, 255);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border-radius: 25px;
  padding: 0.5em;
}
.userContainer .updateButton {
  background-color: rgb(0, 160, 255);
  color: white;
  width: 150px;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  border-radius: 25px;
  padding: 0.5em;
}

.card {
  min-height: 20em;
  width: 30%;
  margin: 1em auto;
}
@media (max-width: 600px) {
  .card {
    width: 80%;
    margin-bottom: 1em;
  }
}

.cardMedia {
  min-height: 10em;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  flex-direction: column;
}
.searchContainer .textField {
  width: 50%;
  margin: 1em auto;
}
@media (max-width: 600px) {
  .searchContainer .textField {
    width: 80%;
  }
}

.usersContainer {
  display: flex;
  flex-wrap: wrap;
}

/*# sourceMappingURL=styles.module.css.map */
